<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
     <link rel="icon" href="/images/tv1.jpg">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css//styles.css'>
    {{!-- <script src='/js/app.js'></script> --}}
</head>
<body>
    <div class="header">
        <h3>{{title}}</h3>
        <a href="/">weather</a>
        <a href="/about">about</a>
        <a href="/help">help</a>
    </div>

     <div class="main-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil perferendis, 
        qui neque cupiditate excepturi eveniet at quod molestias quaerat ea. Quia dolorem 
        facere enim voluptates, at eum commodi beatae.
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Laborum beatae dolore facere voluptates hic voluptate 
        eligendi repellat ipsum sit porro animi natus reprehenderit, 
        minima quos voluptatem iste incidunt quibusdam nemo?</p>
    </div>
    
    
    <img src="./images/Unknown.jpg">


    <footer>
        <h3>this is footer content</h3>
        <p>use this site to get your weather updates</p><br>
        <p>created by: {{name}}</p>
    </footer>
</body>
</html>